# File mẫu để push lên Github
PORT=5000

# Copy link từ MongoDB Atlas vào đây
DATABASE_URL="mongodb+srv://<username>:<password>@cluster0.abcde.mongodb.net/bettaDB?retryWrites=true&w=majority"

# JWT Secret Key
JWT_SECRET="your_jwt_secret_here"

# Cloudinary Setup for Uploads
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"

# --- EMAIL CONFIG (NODEMAILER) ---
MAIL_HOST=
MAIL_PORT=
# Email thật dùng để cấp mã:
MAIL_USER= 
# Mật khẩu ứng dụng (App Password 16 ký tự, KHÔNG PHẢI MẬT KHẨU ĐĂNG NHẬP!):
MAIL_PASS=
# Tên hiển thị khi gửi:
MAIL_FROM=
